body {
    background-image: url('../images/th.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-break: break-word;
}

/** 
    Extra Small devices (xs) width < 600px 
*/
.col-xs-1 { width: 8.33%; }
.col-xs-2 { width: 16.66%; }
.col-xs-3 { width: 25%; }
.col-xs-4 { width: 33.33%; }
.col-xs-5 { width: 41.66%; }
.col-xs-6 { width: 50%; }
.col-xs-7 { width: 58.33%; }
.col-xs-8 { width: 66.66%; }
.col-xs-9 { width: 75%; }
.col-xs-10 { width: 83.33%; }
.col-xs-11 { width: 91.66%; }
.col-xs-12 { width: 100%; }

/** 
    Small devices (sm) width >= 600px  and < 768px
*/
@media screen and (min-width: 768px) {
    .col-sm-1 { width: 8.33%; }
    .col-sm-2 { width: 16.66%; }
    .col-sm-3 { width: 25%; }
    .col-sm-4 { width: 33.33%; }
    .col-sm-5 { width: 41.66%; }
    .col-sm-6 { width: 50%; }
    .col-sm-7 { width: 58.33%; }
    .col-sm-8 { width: 66.66%; }
    .col-sm-9 { width: 75%; }
    .col-sm-10 { width: 83.33%; }
    .col-sm-11 { width: 91.66%; }
    .col-sm-12 { width: 100%; }
}

/** 
    Medium devices (md) width >= 768px  and < 992px
*/
@media screen and (min-width: 768px) {
    .col-md-1 { width: 8.33%; }
    .col-md-2 { width: 16.66%; }
    .col-md-3 { width: 25%; }
    .col-md-4 { width: 33.33%; }
    .col-md-5 { width: 41.66%; }
    .col-md-6 { width: 50%; }
    .col-md-7 { width: 58.33%; }
    .col-md-8 { width: 66.66%; }
    .col-md-9 { width: 75%; }
    .col-md-10 { width: 83.33%; }
    .col-md-11 { width: 91.66%; }
    .col-md-12 { width: 100%; }
}

/** 
    Large devices (lg) width >= 992px
*/

@media screen and (min-width: 992px) {
    .col-lg-1 { width: 8.33%; }
    .col-lg-2 { width: 16.66%; }
    .col-lg-3 { width: 25%; }
    .col-lg-4 { width: 33.33%; }
    .col-lg-5 { width: 41.66%; }
    .col-lg-6 { width: 50%; }
    .col-lg-7 { width: 58.33%; }
    .col-lg-8 { width: 66.66%; }
    .col-lg-9 { width: 75%; }
    .col-lg-10 { width: 83.33%; }
    .col-lg-11 { width: 91.66%; }
    .col-lg-12 { width: 100%; }
}

/** 
    Large devices (lg) width >= 992px
*/

@media screen and (min-width: 1200px) {
    .col-xl-1 { width: 8.33%; }
    .col-xl-2 { width: 16.66%; }
    .col-xl-3 { width: 25%; }
    .col-xl-4 { width: 33.33%; }
    .col-xl-5 { width: 41.66%; }
    .col-xl-6 { width: 50%; }
    .col-xl-7 { width: 58.33%; }
    .col-xl-8 { width: 66.66%; }
    .col-xl-9 { width: 75%; }
    .col-xl-10 { width: 83.33%; }
    .col-xl-11 { width: 91.66%; }
    .col-xl-12 { width: 100%; }
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.row {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}

.base-container {
    position: relative;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 1;
    background-color: grey;
    left: 0;
    top: 0;
    display: block;
}